#color-pickers {
    width: 100%;
    height: 100%;
}

.color-picker {
    display: block;
    height: 33.33%;
    width: 100%;
    border: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.color-picker:focus {
    outline-color: #3E454F;
    background-color: #FFF;
    color: #485C76;
}